<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATTERN" value="%d %level [%t] -%5p %C{36}:%M.%L - %m%n"/>
	<property name="LOG_PATH" value="${catalina.base}/logs"/>
	<property name="LOG_MAX_FILE_SIZE" value="50MB"/>
	<!-- Console Appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- Rolling File Appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/taxFM.log</file>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/taxFM.%d{yyyy-MM}.%i.log.gz</fileNamePattern>
			<maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
<!--	<logger name="com.zaxxer.hikari" level="DEBUG">-->
<!--		<appender-ref ref="CONSOLE" />-->
<!--	</logger>-->
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>
</configuration>