<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: common-head}"></head>

<body>

<!-- top banner -->

<div th:replace="~{fragments/fragments :: top-banner}"></div>

<!-- nav bar -->

<nav th:replace="~{fragments/fragments :: nav-bar}"></nav>

<main>
	<section class="error-section">
		<div class="container">
			<h1>Server Error</h1>
		</div>
	</section>
</main>

<!-- sub-footer -->

<div th:replace="~{fragments/fragments :: sub-footer}"></div>
</body>
</html>