<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: common-head}"></head>

<body>

<!-- Top Banner -->
<div th:replace="~{fragments/fragments :: top-banner}"></div>

<!-- Navigation Bar -->
<nav th:replace="~{fragments/fragments :: nav-bar}"></nav>

<!-- Main Content -->
<main>
	<!-- Ensure you have MDB Bootstrap included -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css">
	<!-- Employees Section -->
	<section class="employees-section" style=".5rem .5rem 0 0;">
		<div class="container">
			<a th:href="@{/employees}"><img class="action-icon" th:src="@{/images/common/back.png}" alt=""></a>
			<h2>Employee Registration</h2>
			<form method="post" th:action="@{/employees/add}" th:object="${employee}">
				<div class="card card-registration card-registration-2" style="border-radius: 15px;">
					<div class="row g-0">
						<div class="col-lg-6">
							<div class="p-5">
								<h3 class="fw-normal mb-5" style="color: #4835d4;">General Information</h3>
								<div class="row">
									<div class="col-md-6 mb-4 pb-2">
										<div class="form-group">
											<input class="form-control" required type="text" placeholder=""
														 id="firstName" name="firstName" th:field="*{firstName}"
														 oninput="this.value = this.value.toUpperCase()">
											<label for="firstName">First Name</label>
										</div>
									</div>
									
									<div class="col-md-6 mb-4 pb-2">
										<div class="form-group">
											<input class="form-control" required type="text" placeholder=""
														 id="lastName" name="lastName" th:field="*{lastName}"
														 oninput="this.value = this.value.toUpperCase()">
											<label for="lastName">Last Name</label>
										</div>
									</div>
								</div>
								
								<div class="mb-4 pb-2">
									<div class="form-group">
										<input class="form-control" required type="text" placeholder=""
													 id="designation" name="designation" th:field="*{designation}"
													 oninput="this.value = this.value.toUpperCase()">
										<label for="designation">Designation</label>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-6 mb-4 pb-2">
										<div class="form-group">
											<input class="form-control" required type="text" placeholder=""
														 id="username" name="username" th:field="*{username}">
											<label for="username">Username</label>
										</div>
									</div>
									<div class="col-md-6 mb-4 pb-2">
										<div class="form-group">
											<input class="form-control" required type="password" placeholder=""
														 id="password" name="password" th:field="*{password}"
														 oninput="this.value = this.value.toUpperCase()">
											<label for="password">Password</label>
										</div>
									</div>
								</div>
								
								<div class="mb-4 pb-2">
									<div class="form-group">
										<input class="form-control" required type="date" placeholder=""
													 id="dob" name="dob" th:field="*{dob}">
										<label for="dob">Date of Birth</label>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-6 mb-4 pb-2">
										<div class="form-outline">
											<select class="form-select" required type="text" placeholder=""
															id="gender" name="gender" th:field="*{gender}"
															oninput="this.value = this.value.toUpperCase()">
												<option value="" disabled selected>--SELECT GENDER--</option>
												<option value="MALE">MALE</option>
												<option value="FEMALE">FEMALE</option>
											</select>
											<label for="gender">Gender</label>
										</div>
									</div>
									
									<div class="col-md-6 mb-4 pb-2">
										<div class="form-outline">
											<select class="form-select" required type="text" placeholder=""
															id="maritalStatus" name="maritalStatus" th:field="*{maritalStatus}"
															oninput="this.value = this.value.toUpperCase()">
												<option value="" disabled selected>--SELECT MARITAL STATUS--</option>
												<option value="SINGLE">SINGLE</option>
												<option value="MARRIED">MARRIED</option>
											</select>
											<label for="maritalStatus">Marital Status</label>
										</div>
									</div>
								</div>
								
								<div class="mb-4 pb-2">
									<div class="form-group">
										<input class="form-control" required type="text" placeholder=""
													 id="agreement" name="agreement" th:field="*{agreement}"
													 oninput="this.value = this.value.toUpperCase()">
										<label for="agreement">Agreement</label>
									</div>
								</div>
							
							</div>
						</div>
						<div class="col-lg-6 bg-card text-white">
							<div class="p-5">
								<h3 class="fw-normal mb-5">Additional Details</h3>
								
								<div class="row">
									<div class="col-md-6 mb-4 pb-2">
										<div class="form-group">
											<input class="form-control" required type="text" placeholder="" maxlength="10"
														 id="pan" name="pan" th:field="*{pan}"
														 oninput="this.value = this.value.toUpperCase()">
											<label for="pan">PAN</label>
										</div>
									</div>
									
									<div class="col-md-6 mb-4 pb-2">
										<div class="form-group">
											<input class="form-control" required type="text" placeholder="" maxlength="12"
														 id="aadharCardNumber" name="aadharCardNumber" th:field="*{aadharCardNumber}"
														 oninput="this.value = this.value.toUpperCase()">
											<label for="aadharCardNumber">Aadhar</label>
										</div>
									</div>
								</div>
								
								<div class="mb-4 pb-2">
									<div class="form-outline">
										<select class="form-select" required type="text" placeholder=""
														id="roles" name="roles" th:field="*{roles}">
											<option value="" disabled selected>--SELECT ROLE--</option>
											<option th:each="role : ${availableRoles}"
															th:text="${#strings.replace(role.role, 'ROLE_', '')}"
															th:value="${role.roleId}">
											</option>
										</select>
										<label for="roles">Roles</label>
									</div>
								</div>
								
								<div class="mb-4 pb-2">
									<div class="form-group">
										<input class="form-control" required type="text" placeholder=""
													 id="address" name="address" th:field="*{address}"
													 oninput="this.value = this.value.toUpperCase()">
										<label for="address">Address</label>
									</div>
								</div>
								
								<div class="mb-4 pb-2">
									<div class="form-group">
										<input class="form-control" required type="tel" placeholder=""
													 id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}">
										<label for="phoneNumber">Phone Number</label>
									</div>
								</div>
								
								<div class="mb-4 pb-2">
									<div class="form-group">
										<input class="form-control" required type="email" placeholder=""
													 id="email" name="email" th:field="*{email}"
													 oninput="this.value = this.value.toUpperCase()">
										<label for="email">Email</label>
									</div>
								</div>
								
								<button type="submit" data-mdb-button-init="" data-mdb-ripple-init=""
												class="btn btn-light btn-lg" data-mdb-ripple-color="dark"
												data-mdb-button-initialized="true">Register Employee
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</main>
<footer th:replace="~{fragments/fragments :: sub-footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
<script th:src="@{/employees/employees.js}" defer></script>
</body>
</html>