<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
			xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: common-head}"></head>

<body>

<!-- top banner -->

<div th:replace="~{fragments/fragments :: top-banner}"></div>

<!-- nav bar -->

<nav th:replace="~{fragments/fragments :: nav-bar}"></nav>

<!-- main content -->

<main>
	
	<!-- Employees Section -->
	
	<section class="employees-section">
		<div class="container">
			<div class="employees__table">
				<section class="table__header">
					<b><span>Employees</span></b>
					<div class="input-group">
						<input type="search" id="employeeSearch" placeholder="Search Employee..." oninput="filterEmployees()"> <img th:src="@{/images/common/search.png}" alt="">
					</div>
					<a th:if="${showNewEmployeeAddition}" sec:authorize="hasAuthority('ADD_EMPLOYEE')" th:href="@{/employees/add}" class="create-link">Add New Employee</a>
				</section>
				<section class="table__body">
					<table>
						<thead>
						<tr>
							<th>Username <span class="icon-arrow">&UpArrow;</span></th>
							<th>First Name <span class="icon-arrow">&UpArrow;</span></th>
							<th>Last Name <span class="icon-arrow">&UpArrow;</span></th>
							<th>Email <span class="icon-arrow">&UpArrow;</span></th>
							<th>Phone Number <span class="icon-arrow">&UpArrow;</span></th>
							<th>Roles <span class="icon-arrow">&UpArrow;</span></th>
							<th>Action</th>
						</tr>
						</thead>
						<tr th:each="employee : ${employees}">
							<td><strong th:text="${employee.username}"></strong></td>
							<td th:text="${employee.firstName}"></td>
							<td th:text="${employee.lastName}"></td>
							<td th:text="${employee.email}"></td>
							<td th:text="${employee.phoneNumber}"></td>
							<td th:text="${#strings.listJoin(employee.roles.![#strings.substringAfter(role, 'ROLE_')], ', ')}"></td>
							<td class="action">
								<!-- View Action -->
								<a th:href="@{/employees/{employeeId}(employeeId=${employee.employeeId})}"> <img class="action-icon" th:src="@{/images/common/view.gif}" alt=""></a>
								<!-- Edit Action, restricted to EMPLOYEE_EDIT authority -->
								<a sec:authorize="hasAuthority('UPDATE_EMPLOYEE')" th:href="@{/employees/{id}/edit(id=${employee.employeeId})}"> <img class="action-icon" th:src="@{/images/common/edit.gif}" alt=""></a>
								<!-- Delete Action, restricted to EMPLOYEE_DELETE authority and not for the logged-in employee -->
								<a sec:authorize="hasAuthority('DELETE_EMPLOYEE')" th:if="${employee.employeeId != loggedInEmployeeId}" th:href="@{/employees/{id}/delete(id=${employee.employeeId})}" onclick="return confirm('Are you sure?')">
									<img class="action-icon-delete" th:src="@{/images/common/delete.gif}" alt="">
								</a>
							</td>
						</tr>
					</table>
				</section>
			</div>
		</div>
	</section>
</main>

<!-- sub-footer -->

<div th:replace="~{fragments/fragments :: sub-footer}"></div>
<script th:src="@{/js/employees/employees.js}"></script>
</body>
</html>