<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/fragments :: head}"></head>

<body>
<!-- top banner -->

<div th:replace="~{fragments/fragments :: top-banner}"></div>

<!-- nav bar -->

<nav th:replace="~{fragments/fragments :: nav-bar}"></nav>

<main>
	<div class="container">
		<div class="right-panel">
			<div sec:authorize="isAuthenticated()">
				<p>Logged In Customer: <span sec:authentication="name"> </span></p>
				<p>Roles: <span sec:authentication="principal.authorities">
                    <span th:each="authority : ${authority.authorities}" th:text="${authority}"></span>
                </span>
				</p>
			</div>
			<div sec:authorize="isAuthenticated()">
				<p>Id: <span th:text="${customer.customerId}"></span></p>
				<p>Username: <span th:text="${customer.username}"></span></p>
				<p>Account Non Expired: <span th:text="${customer.accountNonExpired}"></span></p>
				<p>Account Non-Locked: <span th:text="${customer.accountNonLocked}"></span></p>
				<p>Credentials Non Expired: <span th:text="${customer.credentialsNonExpired}"></span></p>
				<p>Enabled: <span th:text="${customer.enabled}"></span></p>
				<p>Name: <span th:text="${customer.firstName} + ' ' + ${customer.lastName}"></span></p>
				<p>E-mail address: <span th:text="${customer.email}"></span></p>
				<table>
					<tr>
						<th>Id</th>
						<th>Authority</th>
					</tr>
					<tr th:each="authority : ${customer.authorities}">
						<td th:text="${authority.authorityId}"></td>
						<td th:text="${authority.authority}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</main>

<!-- sub-footer -->

<div th:replace="~{fragments/fragments :: sub-footer}"></div>

</body>
</html>